<table id="table">
    <tr>
        <td id="assists">Assists</td>
        <td>{{assists}}</td>
    </tr>
    <tr>
        <td id="boosts">Boosts used</td>
        <td>{{boosts}}</td>
    </tr>
    <tr>
        <td id="dBNOs">Knocked enemies</td>
        <td>{{dBNOs}}</td>
    </tr>
    <tr>
        <td id="dailyKills">Daily kills</td>
        <td>{{dailyKills}}</td>
    </tr>
    <tr>
        <td id="damageDealt">Damage dealt</td>
        <td>{{damageDealt}}</td>
    </tr>
    <tr>
        <td id="days">Days</td>
        <td>{{days}}</td>
    </tr>
    <tr>
        <td id="dailyWins">Daily wins</td>
        <td>{{dailyWins}}</td>
    </tr>
    <tr>
        <td id="headshotKills">Headshot kills</td>
        <td>{{headshotKills}}</td>
    </tr>
    <tr>
        <td id="heals">Heals used</td>
        <td>{{heals}}</td>
    </tr>
    <tr>
        <td id="kills">Total kills</td>
        <td>{{kills}}</td>
    </tr>
    <tr>
        <td id="longestKill">Longest kill</td>
        <td>{{longestKill}}</td>
    </tr>
    <tr>
        <td id="longestTimeSurvived">Longest time survived</td>
        <td>{{longestTimeSurvived}}</td>
    </tr>
    <tr>
        <td id="losses">Losses</td>
        <td>{{losses}}</td>
    </tr>
    <tr>
        <td id="maxKillStreaks">Max kill streaks</td>
        <td>{{maxKillStreaks}}</td>
    </tr>
    <tr>
        <td id="mostSurvivalTime">Most survival time</td>
        <td>{{mostSurvivalTime}}</td>
    </tr>
    <tr>
        <td id="revives">Revives</td>
        <td>{{revives}}</td>
    </tr>
    <tr>
        <td id="rideDistance">Ride distance</td>
        <td>{{rideDistance}}</td>
    </tr>
    <tr>
        <td id="roadKills">Road kills</td>
        <td>{{roadKills}}</td>
    </tr>
    <tr>
        <td id="roundMostKills">Round most kills</td>
        <td>{{roundMostKills}}</td>
    </tr>
    <tr>
        <td id="roundsPlayed">Rounds played</td>
        <td>{{roundsPlayed}}</td>
    </tr>
    <tr>
        <td id="suicides">Suicides</td>
        <td>{{suicides}}</td>
    </tr>
    <tr>
        <td id="swimDistance">Swim distance</td>
        <td>{{swimDistance}}</td>
    </tr>
    <tr>
        <td id="teamKills">Team kills</td>
        <td>{{teamKills}}</td>
    </tr>
    <tr>
        <td id="timeSurvived">Time survived</td>
        <td>{{timeSurvived}}</td>
    </tr>
    <tr>
        <td id="top10s">Top10's</td>
        <td>{{top10s}}</td>
    </tr>
    <tr>
        <td id="vehicleDestroys">Vehicle destroys</td>
        <td>{{vehicleDestroys}}</td>
    </tr>
    <tr>
        <td id="walkDistance">Walk distance</td>
        <td>{{walkDistance}}</td>
    </tr>
    <tr>
        <td id="weaponsAcquired">Weapons acquired</td>
        <td>{{weaponsAcquired}}</td>
    </tr>
    <tr>
        <td id="weeklyKills">Weekly kills</td>
        <td>{{weeklyKills}}</td>
    </tr>
    <tr>
        <td id="weeklyWins">Weekly wins</td>
        <td>{{weeklyWins}}</td>
    </tr>
    <tr>
        <td id="wins">Wins</td>
        <td>{{wins}}</td>
    </tr>
</table>